@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 138, 138);
}

a {
    text-decoration: none;
    color: #DDD;
    font-weight: 700;
}

.package {
    margin-top: 24px;
    padding: 12px 48px 0;
    background-color: rgb(200, 25, 25);
    border-radius: 12%;
    box-shadow: inset -8px -8px 5px #600700,
                inset 10px 10px 7px rgb(250, 125, 146),
                5px 5px 5px #666;
}

.container {
    max-width: 800px;
}

header,
footer {
    display: flex;
    min-width: 800px;
    padding: 12px 24px;
    color: #FFF;
}

header {
    margin-bottom: 18px;
    justify-content: center;
    align-items: center;
    font-family: 'Satisfy', cursive;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 100;
    padding-left: 18px;
}

.title {
    font-size: 54px;
    font-weight: bold;
}

.sub-title {
    font-weight: 100;
}

.workspace {
    display: flex;
}

.color-palette {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.swatch {
    width: 40px;
    height: 40px;
    box-shadow: 1px 1px 1px rgb(250, 145, 146),
                -1px -1px 1px #600700;
}

.art-grid {
    width: 640px;
    height: 640px;
    margin: 0 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 0;
    box-shadow: 3px 3px 3px rgb(250, 145, 146),
                -2px -2px 3px #600700;
  }

.grid-square {
    background-color: rgb(245, 245, 245);
 }
 
 .swatch-black {
    background-color: #000;
}

.swatch-dk-gray {
    background-color: #666;
}

.swatch-lt-gray {
    background-color: #ccc;
}

.swatch-white {
    background-color: #fff;
}

.swatch-rainbow {
    background: linear-gradient(140deg, red, orange, yellow, green, blue, purple);
}

.swatch-red {
    background-color: rgb(255,25,25);
}

.swatch-orange {
    background-color: rgb(255,179,25);
}

.swatch-yellow {
    background-color: rgb(255,255,0);
}

.swatch-green {
    background-color: rgb(0,179,0);
}

.swatch-blue {
    background-color: rgb(0,85,255);
}

.swatch-purple {
    background-color: rgb(191,0,230);
}

.swatch-pink {
    background-color: rgb(255,153,255);
}

.swatch-brown {
    background-color: rgb(153,77,0);
}

.slider {
    padding: 16px 0;
    margin: 0 auto;
    width: 500px;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 18px;
}

.slider p {
    padding-bottom: 12px;
}

#resolution {
    appearance: none;
    width: 100%;
    height: 12px;
    background: #999;
    border-radius: 5px;
    outline: none;
    margin-bottom: 8px;
}

#resolution::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background:#DDD;
}
  
 #resolution::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #DDD;
  }

 footer {
    align-self: flex-end;
    font-size: 16px;
    font-weight: 300;
}